body {
    background-color: rgb(250, 243, 225);
    width: 99%;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

body > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(250, 129, 18) !important;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2%;
}

body > main {
    display: flex;
    flex-direction: column;
}

body > main > section{
    display: flex;
    flex-direction: column;
}

.descripcion-inicial , .mapa, .ubicacion-mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mapa > iframe {
    width: 100%;
}
body > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-listas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-rights {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 768px){

    header,main,footer{
        display: flex;
        flex-direction: column;
    }
}