body, main, footer {
    background-color: rgb(250, 243, 225);
}

body, footer {
    width: 95vw;
}

body > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5vw rgb(250, 129, 18);
}

body > header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

body > nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > main {
    display: flex;
    flex-direction: column;
}

body > main > section{
    display: flex;
    flex-direction: column;
}

.desccripcion-inicial , .mapa, .ubicacion-mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-listas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-rights {
    display: flex;
    justify-content: flex-start;
}
