body, footer {
    width: 95vw;
}

body > header {
    width: 100%;
}

body > nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > main {
    display: flex;
    flex-direction: column;
}

body > main > section{
    display: flex;
    flex-direction: column;
}

.desccripcion-inicial , .mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-listas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-rights {
    justify-content: flex-start;
}
